.beerClock {
  display: inline-block;
  width: auto;
}
.container {
  background-image:url(beer.gif);
}
.center {
  position:fixed;
  text-align: center;
  top: 40%;
  left: 25%;
}
.clock-size{
  zoom: 0.01;
  -moz-transform: scale(0.01)
}
